@charset"utf-8";

/*--------------------------
		leftColumn
--------------------------*/

#map{
	margin: 20px 16px;
	width: 668px;
	height: 398px;
	border: 1px solid dimgray;
}

#locationBtn{
	display: flex;
	justify-content: space-around;
}

.hal{
	margin: 10px 0;
	width: 200px;
	height: 50px;
	background: #52CBCA;
	color: #fff;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
}

.details{
	margin: 20px 0 50px 16px;
	background: ;
}

/*.details td{
	padding: 10px 70px 10px 16px;
}*/
.detailTitle{
	padding: 10px 105px 10px 0;
}

.detailTitle span{
	padding-left: 5px;
	border-left: 3px solid dimgray;
}











