@charset"utf-8";

/*--------------------------
		leftColumn
--------------------------*/

h3{
	width: 100%;
	border: solid 1px;
	margin-top: 10px;
	font-size: 30px;
}

#lefttColumn {
    float: left;
    width: 680px;
    padding : 10px;
    background-color: orange;
}

#map{
	margin: 10px 16px;
	width: 668px;
	height: 400px;
	background-color: white;
}

#locationBtn{
	display: flex;
	justify-content: space-around;
}
.hal{
	margin: 10px 0;
	width: 200px;
	height: 50px;
	border: solid 1px;
	cursor: pointer;
}

.details{
	margin-bottom: 20px;
	width: 100%;
	border: solid 1px;
}
	