@charset"utf-8";

/*--------------------------
		leftColumn
--------------------------*/

h3{
	width: 100%;
	border: solid 1px;
	margin-top: 10px;
	font-size: 30px;
}

#lefttColumn {
    float: left;
    width: 680px;
    padding : 10px;
    background-color: orange;
}

#map{
	margin-top: 10px;
	width: 100%;
	height: 400px;
	background-color: white;
}

#hal{
	margin: 10px;
	width: 200px;
	height: 50px;
	float: left;
	border: solid 1px;
}

#details{
	margin-top: 20px;
	width: 100%;
	border: solid 1px;
	clear: both;
}
	