@charset"utf-8";



/*----------------------
    day
----------------------*/

#day{
    width: 100%;
    height: 100px;
    position: relative;
    overflow: hidden;
}

.days li{
    margin: 5px 5px 0 5px;
    padding: 5px;
    width: 80px;
    height: 80px;
    font-size: 30px;
    background-color: #ddd;
    list-style: none;
    border-radius: 10px;
    float: left;
    overflow: hidden;
}


.days{
    font-size: 20px;
    width: 1000px;
    height: 100px;
    position: absolute;
    overflow: hidden;
    left: 0;
}


#back{
    margin: 10px 0 0 5px;
    background-image: url(../img/yajirusi1.png);
    width: 20px;
    height: 20px;
    float: left;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;

}

#next{
    margin: 10px 5px 0 0;
    background-image: url(../img/yajirusi.png);
    width: 20px;
    height: 20px;
    float: right;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
}




/*----------------------
    title
----------------------*/

.title{
    padding: 5px;
    margin: 0 0 10px 10px;
    font-size: 30px;
    border-left: solid 5px black; 
    border-bottom: solid 1px black; 
    width: 100%;
    height: 30px;
    clear: both;
}

.sttt{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 0 0;
    padding: 10px 0 0 5px;
    width: 695px;
    height: 30px;
    background-color: gold;
    clear: both;
}
.screenimg{
    margin: 0 1px 0 0;
    width: 100px;
    height: 153px;
    background-color: #fff;
    float: left;
}

.iimmgg{
    margin: 20px 0 0 10px;
    width: 80px;
    height: 80px;
    background-color: #eee;
}

.lst{
    width: 599px;
    float: right;
    height: 50px;
    border-bottom: dotted 1px #eee;
    background-color: white;
}

.screen{
    margin: 5px 0 0 0;
    padding: 5px 0 5px 5px;
    font-size: 10px;
    width: 100px;
    height: 30px;
    float: left;
    border-right: solid 1px #eee;
}

.movietime{
    margin: 5px 0 0 0;
    padding: 5px 0 0 5px;
    font-size: 10px;
    width: 90px;
    height: 30px;
    float: left;
    border-right: solid 1px #eee;
}