@charset"utf-8";

/*--------------------------
		menu
--------------------------*/


#menu{
	padding: 10px;
	height: 100%;
}

#reservation{
	width: 100%;
	height: 100px;
	background-color: blue;
}

#phoneReservation{
	margin-top: 10px;
	width: 100%;
	height: 100px;
	background-color: blue;
}

table{
	margin-top: 10px;
	width: 100%;
}

#publicity{
	margin-top: 10px;
	width: 100%;
	height: 300px;
	background-color: blue;
}