@charset"utf-8";
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

/* ---------------------------------------------
        Common
 --------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    color: dimgray;
    font: 15px 'YuGothic';
    text-decoration: none;
}
body{
	margin: 0 auto;
	width:960px;
}
.left {
    float: left;
}
ul {
    list-style: none;
}

/* ---------------------------------------------
        Header
 --------------------------------------------- */
header, footer{
    clear: both;
    position: relative;
    width: 100%;
    background-color: #52CBCA;
}

header {
    min-height: 100px;
}
#logo{
  font: 45px white 'Ubuntu';
	margin:0;
  line-height: 60px;
	width:240px;
	height:100px;
    position: absolute;
}

#infomation {
    position: absolute;
    left: 240px;
}
#infomation li {
    display: block;
    margin-bottom: -15px;
}
#infomation li a {
    font-size: .8em;
    color: blue;
}

#alert{
	width:100px;
	height:40px;
	background-color: red;
	right: 100px;
    position: absolute;
}

#login{
	width:100px;
	height:40px;
	background-color: red;
    right: 0;
    position: absolute;
}

/*#nowLogin {
    display: none;
}*/

#headMenu{
	position: absolute;
    right: 0;
    bottom: 0;
}

#headMenu li{
  margin: 0 20px;
    min-width:150px;
	  text-align:center;
}

#headMenu ul > li {
    float: left;
    position: relative;
}

#headMenu li:last-child {
    margin-right: 0;
}
#headMenu li a {
    display: block;
}

.subMenuList {
    display: none;
    position: absolute;
    width: inherit;
}

.subMenuList li {
    left: -10px;
    width: inherit;
    background-color: #fff;
    z-index: 99;
}

/* ---------------------------------------------
        Contents
 --------------------------------------------- */
main{
    float: left;
    width: 700px;
    background-color: salmon;
}

#divide {
    float: right;
    width: 260px;
    background-color: tomato;
}

/* ---------------------------------------------
        Footer
 --------------------------------------------- */
footer {
    clear: both;
    bottom: 0;
    background-color: #0f0f0f;
}
#footMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
}
.footMenuBox {
    position: relative;
}
.footMenuBox h2 a {
    font-size: 1.3em;
    background-color: #fff;
}
#copyright {
    display: block;
    text-align: center;
}
