@charset"utf-8";
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

/* ---------------------------------------------
        Common
 --------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    color: #aaa;
    font: 15px 'YuGothic';
    text-decoration: none;
}
body{
  background-color: #EDEDED;
}

#wrapper {
  clear: both;
  margin: 0 auto;
  min-width: 960px;
}

.left {
    float: left;
}
ul {
    list-style: none;
}

/* ---------------------------------------------
        Header
 --------------------------------------------- */
header, footer{
  clear: both;
  position: relative;
  width: 100%;
  background-color: #60d4d4;
}
#headerWrapper,
#footerWrapper {
  position: relative;
  width: 960px;
  margin: 0 auto;
}
header {
  height: 100px;
}
#logo{
  position: absolute;
  color: white;
  font: 30px 'Ubuntu';
  margin: 15px 10px;
  line-height: 60px;
  width:220px;
  height: 70px;
  text-align: center;
}


/* ---------------------------------------------
        Header > Login, Alert
 --------------------------------------------- */
#loginAlert {
  position: absolute;
  right: 0;
}
#loginWrapper {
  position: absolute;
  top: 0;
  right: 0;
}
#loginAlert {
  position: absolute;
  width:50px;
  height:40px;
  background-color: red;
  top: 0;
  right: 0;
}
#loginBtnIn {
  position: relative;
  float: right;
  width: 70px;
  right: 0;
}


/* ---------------------------------------------
        Header > Menu
 --------------------------------------------- */
#headerContent {
  position: relative;
  float: right;
  width: 720px;
  height: 100px;
}

#headerInfomation {
  height: 50px;
}
#headerInfomation li {
  display: block;
  height: 33%;
}
#headerInfomation li a {
  font-size: .8em;
  color: #eee;
}

#headerMenu{
  right: 0;
  bottom: 0;
  height: 50px;
}
#headerMenuList {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
}
#headerMenu li{
  position: relative;
  height: 40px;
	text-align:center;
}
#headerMenuList li {
  float: left;
  width: 100%;
  position: relative;
  /* border-left: 1px solid white; */
}
#headerMenu li:last-child {
  padding-right: 0;
  /* border-right: 1px solid white; */
}
#headerMenu li a {
  position: relative;
  display: block;
  height: 40px;
  color: white;
}

.subMenuList {
  display: none;
  position: absolute;
  left: -1px;
  width: inherit;
  z-index: 99;
}
.subMenuList li {
  border-right: 1px solid white;
  width: inherit;
  background-color: rgba(255,255,255,.8);
  z-index: 99;
}
.subMenuList li:last-child {
  border-bottom: 1px solid white;
}
.subMenuList li a {
  color: #52CBCA !important;
}

/* ---------------------------------------------
        Contents
 --------------------------------------------- */
main{
  position: relative;
  float: left;
  width: 700px;
}

#divide {
  float: left;
  width: 260px;
  background-color: tomato;
}

/* ---------------------------------------------
        Footer
 --------------------------------------------- */
footer {
  clear: both;
  position: relative;
  background-color: #222;
}
#footerlogo {
  position: relative;
  margin: auto;
  padding: 40px 0 30px;
  width: 100%;
  text-align: center;
  color: #52CBCA;
}
#footerMenu {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
}
.footerMenuBox {
  position: relative;
}
.footerMenuBox h2 a {
  position: relative;
}
/* .footerMenuBox h2 a:after {
    content:'';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 50%;
    background-color: #ccc;
}
 */
#copyright p {
  position: relative;
  display: block;
  padding: 25px 0;
  width: 100%;
  font-size: .8em;
  color: #555;
  text-align: center;
}

@media screen and (max-width: 960px) {
  #headerWrapper,
  #footerWrapper {
    padding: 0;
  }
}




/*------------------
  ttt
-------------------*/


.ttt{
    padding: 5px;
    margin: 10px 0 0 10px;
    font-size: 30px;
    font-color: #1f1f1f;
    height: 30px;    
}