1@charset"utf-8";



/* ---------------------------------------------
        Movies List
 --------------------------------------------- */
 #wakana {
 }
#slider {
  position: relative;
  margin: auto;
  padding-top: 10px;
  width: 960px;
  height: auto;
}
#movies {
  margin:0;
  padding:0;
  overflow: hidden
}
.moviesList li {
  position: relative;
  /*float: left;*/
  display: inline-block;
  margin: 5px;
  width: 230px;
  height: 100px;
  overflow: hidden;
}
#moviesTop3.moviesList li {
  margin: 5px 0 0 5px;
}
.moviesPic {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: auto;
  -webkit-transform: scale(1);
  -webkit-transition: -webkit-transform .5s, opacity .5s;
}
.moviesCap {
  display: inline-block;
  position: absolute;
  left: 240px;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: gold;
  opacity: 0;
  z-index: 999;
}
.moviesTitle {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 1em;
}

.moviesList li:hover .moviesPic {
  -webkit-transform: scale(1.03);
  opacity: .4;
}
.moviesList li:last-child {
  margin-right: 0;
}

#moviesToggle {
  margin: 8px 0;
  padding: 5px 0;
  color: #ECECEC;
  font-weight: bold;
  text-align: center;
  background-color: #52CBCA;
  border-radius: 5px;
  box-shadow: 0px 4px 0 0 rgb(60, 182, 183);
}
#moviesToggle:hover {
  -webkit-filter: brightness(105%);
  margin-top: 12px;
  margin-bottom: -4px;
  box-shadow: none;
}
#moviesSub {
  position: relative;
  display: none;
  margin-top: 12px;
  height: auto;
  background-color: whitesmoke;
  z-index: 99;
}

/* ---------------------------------------------
        related Reserves
 --------------------------------------------- */

#reserveArea {
  position: relative;
  margin: 30px auto;
}

#reserveTimetable {
  position: relative;
  float: left;
  margin-top: 4px;
  margin-right: 5px;
  padding: 2px 10px 2px 5px;
  width: 225px;
  height: 98px;
  border-radius: 4px;
  background-color: #DBDBDB;
  box-shadow: 0 0 1px 1px silver inset;
  overflow: auto;
}
#reserveTimetableDate {
}
#reserveTimetableTime {
}

#seats {
  position: relative;
  top: -16px;
  margin: 0 auto;
  width: 100%;
  min-width: 960px;
  height: 400px;
}
#seatLoading {
  position: relative;
  margin: 0 auto;
  width: 960px;
  height: 100%;
  overflow: hidden;
}
#seatF {
  height: 500px;
  width: 1500px;
  position: relative;
  z-index: 10px;
}
#seatF .screen{
  height: 500px;
  width: 960px;
  display: inline;
}
#seatLoading #lBtn, #seatLoading #rBtn {
  height: 50px;
  width: 50px;
  background: rgba(28,28,28,0.5);
  border-radius: 10px;
  position: absolute;
  z-index: 99;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}
#seatLoading #lBtn {
  left: 0;
}
#seatLoading #rBtn {
  right: 0;
}
#seatChara {
  position: absolute;
  top: -50px;
  right: 60px;
}
#seatChara li {
  float: left;
}
#seatChara li img {
  height: 60px;
}
#seatsBackground {
  position: absolute;
  top: -1%;
  width: 100%;
  height: 102%;
  background-position: center;
  background-size: cover;
  -webkit-filter: blur(2px) opacity(.7);
  background-color: rgba(237,237,237, .4);
  z-index: -99;
  display: none;
}

#reserveBreakdown {
  position: relative;
  margin: 0 auto 0;
  width: 960px;
  height: 100px;
}

#reserveDetails {
  position: relative;
  margin: 0 auto;
  float: right;
}

#reserveNowSelect, #reserveNowPrice {
  clear: right;
  position: relative;
}

#reserveNowSelect dt,
#reserveNowSelect dd {
  display: block;
  border-bottom: 1px solid #bbb;
  box-shadow: 0 1px 1px #fff;
}
#reserveNowSelect {
  position: relative;
  float: left;
  width: 240px;
}
#reserveNowSelect > * {
  display: block;
  width: 100%;
}
#reserveNowTitle {
  font-weight: bold;
}
#reserveNowPrice {
  position: relative;
  float: left;
  width: 140px;
  height: 100px;
  text-align: right;
  /* background-color: #ef5d5d; */
}
#totalPrice {
  display: inline-block;
  line-height: 30px;
}
#totalPriceYen {
  display: block;
  color: salmon;
  font-size: 1.1em;
}
#totalPriceYen:before {
  content: '¥ ';
}

#A01:hover {
  fill: #FFFF00
}
