@charset"utf-8";



/* ---------------------------------------------
        Movies List
 --------------------------------------------- */
#slider {
  margin: 10px auto 0;
  width: 960px;
}
#movies {
  margin:0;
  padding:0;
  overflow: hidden
}
.moviesList li {
  position: relative;
  float: left;
  margin: 5px;
  width: 230px;
  height: 100px;
  overflow: hidden;
}
.moviesPic {
  display: inline-block;
  position: absolute;
  top: -50%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  -webkit-transform: scale(1);
  -webkit-transition: -webkit-transform .5s, opacity .5s;
}
.moviesCap {
  display: inline-block;
  position: absolute;
  z-index: -1;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(50,50,50, .7);
  -webkit-transform: scale(1.3);
  opacity: 0;
  -webkit-transition: -webkit-transform .2s, top .2s, opacity .5s;
}
.moviesTitle {
  color: #52CBCA;
  font-size: 1.2em;
}
.moviesList li:hover .moviesCap {
  top: 60%;
  -webkit-transform: scale(1);
  opacity: 1;
  z-index: 1;
}
.moviesList li:hover .moviesPic {
  -webkit-transform: scale(1.03);
  opacity: .4;
}
.moviesList li:last-child {
  margin-right: 0;
}

#moviesToggle {
  margin: 8px 0;
  padding: 5px 0;
  color: #ECECEC;
  font-weight: bold;
  text-align: center;
  background-color: #52CBCA;
  border-radius: 5px;
  box-shadow: 0px 4px 0 0 rgb(60, 182, 183);
}
#moviesToggle:hover {
  -webkit-filter: brightness(105%);
  margin-top: 12px;
  margin-bottom: -4px;
  box-shadow: none;
}
#moviesSub {
  position: relative;
  display: none;
  margin-top: 12px;
  padding-bottom: 20px;
  height: 200px;
  background-color: whitesmoke;
}

/* ---------------------------------------------
        related Reserves
 --------------------------------------------- */

#reserveArea {
  position: relative;
  margin: 30px auto;
}

#reserveTimetable {
  position: relative;
  float: left;
  margin-top: 4px;
  margin-right: 5px;
  padding: 2px 10px 2px 5px;
  width: 225px;
  height: 98px;
  border-radius: 4px;
  background-color: #DBDBDB;
  box-shadow: 0 0 1px 1px silver inset;
  overflow: auto;
}
#reserveTimetableDate {
  width: 60px;
  text-align: center;
}

#seats {
  position: relative;
  top: -16px;
  margin: 0 auto;
  width: 100%;
  min-width: 960px;
  height: 400px;
}
#seatLoading {
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  width: 960px;
  height: 100%;
}
#seatsBackground {
  position: absolute;
  top: -1%;
  width: 100%;
  height: 102%;
  background-position: center;
  background-size: cover;
  -webkit-filter: blur(2px) opacity(.7);
  background-color: rgba(237,237,237, .4);
  z-index: -99;
}

#reserveBreakdown {
  position: relative;
  margin: 0 auto 0;
  width: 960px;
  height: 100px;
}

#reserveDetails {
  position: relative;
  margin: 0 auto;
  float: right;
}

#reserveNowSelect, #reserveNowPrice {
  clear: right;
  position: relative;
}

#reserveNowSelect {
  position: relative;
  float: left;
  width: 240px;
  background-color: gold;
}
#reserveNowSelect > * {
  display: block;
  width: 100%;
}
#reserveNowTitle {
  font-weight: bold;
}
#reserveNowPrice {
  position: relative;
  float: left;
  width: 240px;
  height: 100px;
  text-align: right;
  /* background-color: #ef5d5d; */
}
#totalPrice {
  display: inline-block;
  line-height: 30px;
}
#totalPriceYen {
  display: block;
  color: salmon;
  font-size: 1.1em;
}
#totalPriceYen:before {
  content: '¥ ';
}
