@charset"utf-8";

/*--------------------------
		feature
--------------------------*/

h3{
	width: 100%;
	margin: 10px 0 10px 0;
	font-size: 30px;
	border: solid 1px;
}

#lefttColumn {
    float: left;
    width: 680px;
    padding : 10px;
    background-color: orange;
}

#push{
	margin-left: 100px;
}