/* ---------------------------------------------
        main
 --------------------------------------------- */

main {
	width: 960px !important;
    text-align: center;
}

#loginArea {
    margin: 50px 0;
    width: 100%;
}

#formLogin {
    margin: 0 auto;
    width: 400px;
}

#formLogin input {
    float: left;
    margin: 30px 0;
}

#formLogin label {
    clear: left;
     float: left;
}

#mottenai {
    display: block;
    float: left;
    background: #fff;
}
/*  まだ考えています！　*/


#conf{
	text-align: center;
}

td {
	padding: 10px;
}

#conf {
	margin-bottom: 15px;
}