/* ---------------------------------------------
        main
 --------------------------------------------- */

main {
	width: 100% !important;
    text-align: center;
		background-color: pink;
}

#loginArea {
	padding: 50px 0;
	background-color: #ECECEC;
}

#formLogin {
}

#formLogin div {
	margin-bottom: 10px;
}

#formLogin div label {
	display: inline-block;
	width: 150px;
	letter-spacing: 2px;
}

#formLogin input {
	width: 200px;
	padding: 0 5px;
	border: 1px solid #aaa;
	border-radius: 5px;
}

#formLogin input[type='submit'] {
	margin-top: 10px;
	padding: 5px 40px;
	width: auto;
}
