@charset"uft-8";

/* ---------------------------------------------
        common
 --------------------------------------------- */

* {
	margin: 0 auto;
}

/* ---------------------------------------------
        main
 --------------------------------------------- */

main {
	width: 960px;
}

<<<<<<< HEAD
/* ---------------------------------------------
        leftColumn
 --------------------------------------------- */

#leftColumn {
=======
#leftcolumn {
>>>>>>> parent of 792eebe... てす
	float:left;
	text-align:center;
}

h2 {
	margin-top: 50px;
}

.form {
	margin-top: 50px;
}

<<<<<<< HEAD
/* ---------------------------------------------
        rightColumn
 --------------------------------------------- */

#rightColumn {
=======
#rightcolumn {
>>>>>>> parent of 792eebe... てす
	float:right;
	text-align:center;
}

#logo {
	width: 300px;
	margin-top: 200px;
}