@charset"utf-8";

#prc{
	margin: 0 0 10px 0;
	padding: 10px;
	overflow: hidden;
	background-color: white;
}

/*-----------------------------
	#tbl1
------------------------------*/

#tbl1{
	height: 300px;
}

.ttt{
	margin: 0 0 5px 0;
	font-size: 20px;
	font-weight: bold;
	clear: both;
}

.tic1{
	margin: 0 0 10px 0;
	float: left;
	width: 320px;
}

.tic2{
	margin: 0 20px 20px 20px;
	float: right;
	width: 320px;
}

.tic3{
	margin: 0 0 20px 0;
	float: left;
	width: 320px;
}


.ttl{
	color: #fff;
	padding: 5px 0 0 5px;
	font-size: 25px;
	font-weight: bold;
	width: 315px;
	height: 30px;
	background-color: #52CBCA;
	clear: both;
}

.tic_price{
	width: 315px;
	height: 20px;
	border-top: solid 1px #eee;
	padding: 5px 0 5px 5px;
}

.tic_price1{
	width: 315px;
	height: 42px;
	padding: 37px 0 0 5px;
}

/*-----------------------------
	#tbl2
------------------------------*/

#tbl2{
	width: 670px;
	clear: left;
}

.dri_foo_tl{

	padding: 5px 0 0 5px;
	color: #fff;
	font-size: 25px;
	font-weight: bold;
	width: 100%;
	height: 30px;
	background-color: #52CBCA;
	clear: both;
}

.dri01{
    width: 210px;
    float: left;
}


.dri02{
    width: 675px;
    clear: both;
}

.drink{
	padding: 10px 0 0 10px;
	height: 25px;
	background-color: ;
	border-top: solid 1px #eee;
}
.drink:before {
	transform: rotate( 20deg );
	content: '';
	position: absolute;
	height: inherit;
	width: 2px;
	height: 22px;
	left: 210px;
	background-color: #eee;
}

.drink1{
	padding: 10px 0 0 10px;
	height: 25px;
	border-top: solid 1px #eee;
}

.nama{
	width: 200px;
	margin: 0 0 0 10px;
	float: left;
	padding: 10px 0 0 0;
}

.nama:before {
	transform: rotate( 20deg );
	content: '';
	position: absolute;
	height: inherit;
	width: 2px;
	height: 22px;
	left: 430px;
	background-color: #eee;
}

.drink2{
	width: 674px;
	height: 0px;
	margin: 0 0 40px 0;
	border-top: solid 1px #eee;
	float: left;
}

.drink_price{
	text-align: center;
	font-size: 15px;
	padding: 40px 0 0 0;
	width: 253px;
	height: 103px;
	text-align: center;
	border-top: solid 1px #eee;
}

.drink_price1{
	height: 30px;
	margin: 0 100px 0 0;
	padding: 10px 0 0 106px;
	float: right;
}

.dri_foo_tl{
	margin: 20px 0 0 0;
}

.ttlfood{
	width: 675px;
	height: 110px;

}


.food{
	position: relative;
    width: 410px;
    height:15px;
    padding: 10px 0 10px 10px;
	background-color: ;
	border-top: solid 1px #eee;
    float: left;
}
.food:before {
	transform: rotate( 20deg );
	content: '';
	position: absolute;
	height: inherit;
	width: 2px;
	height: 22px;
	right: 0;
	background-color: #eee;
}



.food_price{
    width: 243px;
    height: 15px;
    padding: 10px 0 10px 10px;
    background-color: ;
    border-top: solid 1px #eee;
  	float: left;
  	text-align: center;

}

.txttxt{
	margin: 10px 0 0 10px;
	width: 600px;
	height: 30px;
	background-color: ;
	float: left;
	clear: both;
}
