@charset"utf-8";

/*--------------------------
		lefttColumn
--------------------------*/

h3{
	width: 100%;
	border: solid 1px;
	margin-top: 10px;
	font-size: 30px;
}

#lefttColumn {
    float: left;
    width: 680px;
    padding : 10px;
    background-color: orange;
}











#ddd{
	height: 100px;
}

#tbl4{
	margin-top: 10px;
	width: 680px;
	float: left;
}