@charset"utf-8";

/* ---------------------------------------------
        common
 --------------------------------------------- */

* {
	margin: 0 auto;
}

/* ---------------------------------------------
        main
 --------------------------------------------- */

main {
	width: 960px;
}

/* ---------------------------------------------
        form
 --------------------------------------------- */

.formArea {
	margin-top: 15px;
}

h1,h2,#conf{
	text-align: center;
}

td {
	padding: 10px;
	background: yellow;
}

#conf {
	margin-bottom: 15px;
}

/* ---------------------------------------------
        span
 --------------------------------------------- */
 
span{
	padding: 10px;	
	display: inline-block;
	text-inden
 	width: auto;
	height: auto;
	background: blue; 

 }

 
 
 
 
 
 
 