@charset"utf-8";

/*--------------------------
		feature
--------------------------*/

.h4 {
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	margin: 10px;
}

.h5 {
	color: #fff;
	font-size: 15px;
	border-bottom: solid 1px #ddd;
}

/*--------------------------
		leftColumn
--------------------------*/

#lefttColumn {
    float: left;
    width: 680px;
    background-color: #ececec;
}

#box1 {
	margin-top: 10px;
	padding: 10px;
	background-color: #52cbca;
	overflow: hidden;
}

#box1 img {
	float: left;
	width: 200px;
	height: 200px;
	margin: 0 10px 0 10px;
}

#box1 p {
	margin: 10px;
	color: #1f1f1f;
}

#box2 {
	margin-top: 10px;
	padding-top: 10px;
	background-color: #52cbca;
	overflow: hidden;
}

.n_box {
	float: left;
	width: 45%;
	height: 100px;
	background-color: #E0FFFF;
	margin: 17px;
}

.n_box img {
	height: 100px;
	float: left;
}

/*文字色　#1f1f1f

/*薄めの色　　#dbdbdb
