@charset"utf-8";

/*--------------------------
		feature
--------------------------*/

.h4 {
	font-weight: bold;
	font-size: 20px;
	font-weight: bold;
	/* text-shadow: 1px 1px 0 #eee; */
	color: #52CBCA;
	padding: 20px 0;
}

.h5 {
	color: #fff;
	font-size: 15px;
	border-bottom: solid 1px #ddd;
	font-weight: bold;
	color: #52CBCA;
	margin: 5px 0;
	margin-left: 100px;
}

/*--------------------------
		leftColumn
--------------------------*/

.ttt {
	position: relative;
	width: 704px;
	left: -20px;
	padding: 4px 0;
	padding-left: 1.1em;
	height: 30px;
	margin-top: 30px;
	font-size: 1.1em;
	background-color: gold;
	border-radius: 3px 3px 0 0;
	color: whitesmoke;
}

#lefttColumn {
    float: left;
    width: 680px;
    background-color: #ececec;
}

#box1 {
	padding: 10px;
	overflow: hidden;
	width: 640px;
	padding: 0 21px;
	padding-bottom: 10px;
	background-color: white;
}

#box1 img {
	float: left;
	width: 200px;
	height: 200px;
	margin: 0 10px 0 10px;
	margin-top: 10px;
}

#box1 p {
	color: #666;
	text-indent: 1em;
	line-height: 1.4em;
}

#box2 {
	padding: 20px 0;
	width: 682px;
	overflow: hidden;
	background-color: white;
}

.n_box {
	float: left;
	width: 45%;
	height: 100px;
	background-color: #E0FFFF;
	margin: 0 17px 34px;
}

.n_box img {
	height: 100px;
	float: left;
}

/*文字色　#1f1f1f

/*薄めの色　　#dbdbdb
