@charset"uft-8";

/* ---------------------------------------------
        common
 --------------------------------------------- */

* {
	margin: 0 auto;
	text-align: center;
}

/* ---------------------------------------------
        main
 --------------------------------------------- */

main {
	margin-top: 50px;
	width: 960px;
}

#title {
	width: 150px;
	border: solid 1px;
}

/* ---------------------------------------------
        form
 --------------------------------------------- */

h3 {
	margin-top: 10px;
}

.form {
	margin-top: 10px;
}

#button {
	margin-top: 30px;
}