@charset"utf-8";

/* ---------------------------------------------
       usermain
 --------------------------------------------- */
.usermain{
  width: 960px;
  height: 200px;
  background-color: red;
}